.contas-list {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.conta-item {
  font-size: 16px;
  margin-bottom: 10px;
}

.valor {
  color: #9F7AEA;
  font-weight: bold;
  cursor: text;
  border-bottom: 1px dashed #ccc;
}
